/* styles.css */

body {
    font-family: ' <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+NKo+Unjoined&display=swap" rel="stylesheet">', sans-serif;
    background-color: #f1f3f5;
}

header{
    background-color: #ffc9c9;
    font-size: 21px;
    line-height: -1;
    width: 100%;
    }

    main{
        text-align: center;
        font-size: 22px;
      background-color: #dee2e6;
    }

    section{
      background-color: #f1f3f5;
      padding: 20px;
      border-radius: 10px;
     box-shadow: 0 4px 6px #f1f3f5;
     margin-bottom: 20px;
     text-align: center;

    }
   
#lyrics {
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    background-color: #f1f3f5; 
}

#lyrics .emotional {
    font-style: italic;
    font-weight: bold;
    color:#12b886; /* Green color for emphasis */
}
footer{
background-color:#ffc9c9;
text-align: center;
padding: 10px;
bottom: 0;
width: 100%;
}
